default:
    suites:
        login:
            contexts:
                - Api\LoginContext
        register:
            contexts:
                - Api\RegisterContext



    extensions:
        FriendsOfBehat\SymfonyExtension: ~
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~

