default:
    suites:
        login:
            contexts:
                - Api\LoginContext

        register:
            paths:
                - "%paths.base%/features/register"
            contexts:
                - Api\RegisterContext

    extensions:
        Imbo\BehatApiExtension:
            apiClient:
                base_uri: http://localhost:8080
                timeout: 5.0
                verify: false
        FriendsOfBehat\SymfonyExtension:
            kernel:
                 class: ~
                 path: ~
                 environment: test
                 debug: true
        Behat\MinkExtension:
            show_auto: true
            sessions:
                symfony:
                    symfony: ~

