default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\DemoContext
        api:
            contexts:
                - Api\ApiContext
            extensions:


    extensions:
        FriendsOfBehat\SymfonyExtension: ~
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~

